FWD.BusinessObjects/obj/Debug/FWD.BusinessObjects.pdb
FWD.BusinessObjects/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FWD.BusinessObjects/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FWD.BusinessObjects/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FWD.CommonIterfaces/bin/Debug/DelegateDecompiler.dll
FWD.CommonIterfaces/bin/Debug/FWD.BusinessObjects.dll
FWD.CommonIterfaces/bin/Debug/FWD.BusinessObjects.pdb
FWD.CommonIterfaces/bin/Debug/FWD.CommonIterfaces.dll
FWD.CommonIterfaces/bin/Debug/FWD.CommonIterfaces.pdb
FWD.CommonIterfaces/bin/Debug/Mono.Reflection.dll
FWD.CommonIterfaces/bin/Debug/Ninject.dll
FWD.CommonIterfaces/bin/Debug/Text.Analizer.dll
FWD.CommonIterfaces/bin/Debug/Text.Analizer.pdb
FWD.CommonIterfaces/bin/Debug/WebRock.Utils.dll
FWD.CommonIterfaces/bin/Debug/WebRock.Utils.pdb
FWD.CommonIterfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FWD.CommonIterfaces/obj/Debug/FWD.CommonIterfaces.csproj.FileListAbsolute.txt
FWD.CommonIterfaces/obj/Debug/FWD.CommonIterfaces.csprojResolveAssemblyReference.cache
FWD.CommonIterfaces/obj/Debug/FWD.CommonIterfaces.dll
FWD.CommonIterfaces/obj/Debug/FWD.CommonIterfaces.pdb
FWD.CommonIterfaces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FWD.CommonIterfaces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FWD.CommonIterfaces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FWD.DAL/bin/Debug/AutoMapper.dll
FWD.DAL/bin/Debug/AutoMapper.Net4.dll
FWD.DAL/bin/Debug/AutoMapper.xml
FWD.DAL/bin/Debug/DelegateDecompiler.dll
FWD.DAL/bin/Debug/EntityFramework.dll
FWD.DAL/bin/Debug/EntityFramework.SqlServer.dll
FWD.DAL/bin/Debug/FWD.BusinessObjects.dll
FWD.DAL/bin/Debug/FWD.BusinessObjects.pdb
FWD.DAL/bin/Debug/FWD.CommonIterfaces.dll
FWD.DAL/bin/Debug/FWD.CommonIterfaces.pdb
FWD.DAL/bin/Debug/FWD.DAL.dll
FWD.DAL/bin/Debug/FWD.DAL.dll.config
FWD.DAL/bin/Debug/FWD.DAL.pdb
FWD.DAL/bin/Debug/Mono.Reflection.dll
FWD.DAL/bin/Debug/Newtonsoft.Json.dll
FWD.DAL/bin/Debug/WebRock.Utils.dll
FWD.DAL/bin/Debug/WebRock.Utils.pdb
FWD.DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FWD.DAL/obj/Debug/FWD.DAL.csproj.FileListAbsolute.txt
FWD.DAL/obj/Debug/FWD.DAL.csprojResolveAssemblyReference.cache
FWD.DAL/obj/Debug/FWD.DAL.dll
FWD.DAL/obj/Debug/FWD.DAL.pdb
FWD.DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FWD.DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FWD.DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FWD.Services/bin/Debug/DelegateDecompiler.dll
FWD.Services/bin/Debug/FWD.BusinessObjects.dll
FWD.Services/bin/Debug/FWD.BusinessObjects.pdb
FWD.Services/bin/Debug/FWD.CommonIterfaces.dll
FWD.Services/bin/Debug/FWD.CommonIterfaces.pdb
FWD.Services/bin/Debug/FWD.Services.dll
FWD.Services/bin/Debug/FWD.Services.pdb
FWD.Services/bin/Debug/Mono.Reflection.dll
FWD.Services/bin/Debug/Newtonsoft.Json.dll
FWD.Services/bin/Debug/System.Reactive.Core.dll
FWD.Services/bin/Debug/System.Reactive.Core.xml
FWD.Services/bin/Debug/System.Reactive.Interfaces.dll
FWD.Services/bin/Debug/System.Reactive.Interfaces.xml
FWD.Services/bin/Debug/System.Reactive.Linq.dll
FWD.Services/bin/Debug/System.Reactive.Linq.xml
FWD.Services/bin/Debug/System.Reactive.PlatformServices.dll
FWD.Services/bin/Debug/System.Reactive.PlatformServices.xml
FWD.Services/bin/Debug/Text.Analizer.dll
FWD.Services/bin/Debug/Text.Analizer.pdb
FWD.Services/bin/Debug/WebRock.Utils.dll
FWD.Services/bin/Debug/WebRock.Utils.pdb
FWD.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FWD.Services/obj/Debug/FWD.Services.csproj.FileListAbsolute.txt
FWD.Services/obj/Debug/FWD.Services.csprojResolveAssemblyReference.cache
FWD.Services/obj/Debug/FWD.Services.dll
FWD.Services/obj/Debug/FWD.Services.pdb
FWD.Services/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FWD.Services/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FWD.Services/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FWD.Test/bin/Debug/AutoMapper.dll
FWD.Test/bin/Debug/AutoMapper.xml
FWD.Test/bin/Debug/DelegateDecompiler.dll
FWD.Test/bin/Debug/EntityFramework.dll
FWD.Test/bin/Debug/FWD.BusinessObjects.dll
FWD.Test/bin/Debug/FWD.BusinessObjects.pdb
FWD.Test/bin/Debug/FWD.CommonIterfaces.dll
FWD.Test/bin/Debug/FWD.CommonIterfaces.pdb
FWD.Test/bin/Debug/FWD.DAL.dll
FWD.Test/bin/Debug/FWD.DAL.pdb
FWD.Test/bin/Debug/FWD.Services.dll
FWD.Test/bin/Debug/FWD.Services.pdb
FWD.Test/bin/Debug/FWD.Test.dll
FWD.Test/bin/Debug/FWD.Test.dll.config
FWD.Test/bin/Debug/FWD.Test.pdb
FWD.Test/bin/Debug/Mono.Reflection.dll
FWD.Test/bin/Debug/Newtonsoft.Json.dll
FWD.Test/bin/Debug/nunit.framework.dll
FWD.Test/bin/Debug/System.Reactive.Core.dll
FWD.Test/bin/Debug/System.Reactive.Core.xml
FWD.Test/bin/Debug/System.Reactive.Interfaces.dll
FWD.Test/bin/Debug/System.Reactive.Interfaces.xml
FWD.Test/bin/Debug/System.Reactive.Linq.dll
FWD.Test/bin/Debug/System.Reactive.Linq.xml
FWD.Test/bin/Debug/Text.Analizer.dll
FWD.Test/bin/Debug/Text.Analizer.pdb
FWD.Test/bin/Debug/WebRock.Utils.dll
FWD.Test/bin/Debug/WebRock.Utils.pdb
FWD.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FWD.Test/obj/Debug/FWD.Test.csproj.FileListAbsolute.txt
FWD.Test/obj/Debug/FWD.Test.csprojResolveAssemblyReference.cache
FWD.Test/obj/Debug/FWD.Test.dll
FWD.Test/obj/Debug/FWD.Test.pdb
FWD.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FWD.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FWD.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FWD.UI.Web/bin/AutoMapper.dll
FWD.UI.Web/bin/AutoMapper.Net4.dll
FWD.UI.Web/bin/DelegateDecompiler.dll
FWD.UI.Web/bin/EntityFramework.dll
FWD.UI.Web/bin/EntityFramework.SqlServer.dll
FWD.UI.Web/bin/FWD.BusinessObjects.dll
FWD.UI.Web/bin/FWD.CommonIterfaces.dll
FWD.UI.Web/bin/FWD.DAL.dll
FWD.UI.Web/bin/FWD.Services.dll
FWD.UI.Web/bin/Microsoft.AspNet.SignalR.Core.dll
FWD.UI.Web/bin/Microsoft.AspNet.SignalR.SystemWeb.dll
FWD.UI.Web/bin/Microsoft.Owin.dll
FWD.UI.Web/bin/Microsoft.Owin.Host.SystemWeb.dll
FWD.UI.Web/bin/Microsoft.Owin.Security.dll
FWD.UI.Web/bin/Microsoft.Web.Infrastructure.dll
FWD.UI.Web/bin/Mono.Reflection.dll
FWD.UI.Web/bin/Newtonsoft.Json.dll
FWD.UI.Web/bin/Ninject.dll
FWD.UI.Web/bin/Owin.dll
FWD.UI.Web/bin/System.Reactive.Core.dll
FWD.UI.Web/bin/System.Reactive.Interfaces.dll
FWD.UI.Web/bin/System.Reactive.Linq.dll
FWD.UI.Web/bin/System.Reactive.PlatformServices.dll
FWD.UI.Web/bin/Text.Analizer.dll
FWD.UI.Web/bin/WebRock.Utils.dll
FWD.UI.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FWD.UI.Web/obj/Debug/FWD.UI.Web.csproj.FileListAbsolute.txt
FWD.UI.Web/obj/Debug/FWD.UI.Web.csprojResolveAssemblyReference.cache
FWD.UI.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FWD.UI.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FWD.UI.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FWD.UI/bin/Debug/AutoMapper.dll
FWD.UI/bin/Debug/AutoMapper.xml
FWD.UI/bin/Debug/DelegateDecompiler.dll
FWD.UI/bin/Debug/EntityFramework.dll
FWD.UI/bin/Debug/FWD.BusinessObjects.dll
FWD.UI/bin/Debug/FWD.BusinessObjects.pdb
FWD.UI/bin/Debug/FWD.CommonIterfaces.dll
FWD.UI/bin/Debug/FWD.CommonIterfaces.pdb
FWD.UI/bin/Debug/FWD.DAL.dll
FWD.UI/bin/Debug/FWD.DAL.pdb
FWD.UI/bin/Debug/FWD.Services.dll
FWD.UI/bin/Debug/FWD.Services.pdb
FWD.UI/bin/Debug/FWD.UI.exe
FWD.UI/bin/Debug/FWD.UI.exe.config
FWD.UI/bin/Debug/FWD.UI.pdb
FWD.UI/bin/Debug/Mono.Reflection.dll
FWD.UI/bin/Debug/Newtonsoft.Json.dll
FWD.UI/bin/Debug/Ninject.dll
FWD.UI/bin/Debug/System.Reactive.Core.dll
FWD.UI/bin/Debug/System.Reactive.Core.xml
FWD.UI/bin/Debug/System.Reactive.Interfaces.dll
FWD.UI/bin/Debug/System.Reactive.Interfaces.xml
FWD.UI/bin/Debug/System.Reactive.Linq.dll
FWD.UI/bin/Debug/System.Reactive.Linq.xml
FWD.UI/bin/Debug/Text.Analizer.dll
FWD.UI/bin/Debug/Text.Analizer.pdb
FWD.UI/bin/Debug/WebRock.Utils.dll
FWD.UI/bin/Debug/WebRock.Utils.pdb
FWD.UI/obj/Debug/App.g.cs
FWD.UI/obj/Debug/App.g.i.cs
FWD.UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FWD.UI/obj/Debug/FWD.UI.csproj.FileListAbsolute.txt
FWD.UI/obj/Debug/FWD.UI.csproj.GenerateResource.Cache
FWD.UI/obj/Debug/FWD.UI.csprojResolveAssemblyReference.cache
FWD.UI/obj/Debug/FWD.UI.exe
FWD.UI/obj/Debug/FWD.UI.g.resources
FWD.UI/obj/Debug/FWD.UI.pdb
FWD.UI/obj/Debug/FWD.UI.Properties.Resources.resources
FWD.UI/obj/Debug/FWD.UI_MarkupCompile.cache
FWD.UI/obj/Debug/FWD.UI_MarkupCompile.i.cache
FWD.UI/obj/Debug/FWD.UI_MarkupCompile.i.lref
FWD.UI/obj/Debug/FWD.UI_MarkupCompile.lref
FWD.UI/obj/Debug/GeneratedInternalTypeHelper.g.cs
FWD.UI/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
FWD.UI/obj/Debug/MainWindow.baml
FWD.UI/obj/Debug/MainWindow.g.cs
FWD.UI/obj/Debug/MainWindow.g.i.cs
FWD.UI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FWD.UI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FWD.UI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FWD.UI/obj/Debug/Views/Auth.baml
FWD.UI/obj/Debug/Views/Auth.g.cs
FWD.UI/obj/Debug/Views/Auth.g.i.cs
FWD.UI/obj/Debug/Views/Create.baml
FWD.UI/obj/Debug/Views/Create.g.cs
FWD.UI/obj/Debug/Views/Create.g.i.cs
FWD.UI/obj/Debug/Views/ImageView.baml
FWD.UI/obj/Debug/Views/ImageView.g.cs
FWD.UI/obj/Debug/Views/ImageView.g.i.cs
FWD.UI/obj/Debug/Views/Plan.baml
FWD.UI/obj/Debug/Views/Plan.g.cs
FWD.UI/obj/Debug/Views/Plan.g.i.cs
FWD.UI/obj/Debug/Views/Statistics.baml
FWD.UI/obj/Debug/Views/Statistics.g.cs
FWD.UI/obj/Debug/Views/Statistics.g.i.cs
FWD.UI/obj/Debug/Views/Training.baml
FWD.UI/obj/Debug/Views/Training.g.cs
FWD.UI/obj/Debug/Views/Training.g.i.cs
packages/AutoMapper.4.2.1/AutoMapper.4.2.1.nupkg
packages/AutoMapper.4.2.1/lib/dotnet5.1/AutoMapper.dll
packages/AutoMapper.4.2.1/lib/dotnet5.1/AutoMapper.xml
packages/AutoMapper.4.2.1/lib/net45/AutoMapper.dll
packages/AutoMapper.4.2.1/lib/net45/AutoMapper.xml
packages/AutoMapper.4.2.1/lib/portable-net45+win+wpa81+MonoAndroid10+Xamarin.iOS10+MonoTouch10/AutoMapper.dll
packages/AutoMapper.4.2.1/lib/portable-net45+win+wpa81+MonoAndroid10+Xamarin.iOS10+MonoTouch10/AutoMapper.xml
packages/DelegateDecompiler.0.18.1/DelegateDecompiler.0.18.1.nupkg
packages/DelegateDecompiler.0.18.1/lib/net40-Client/DelegateDecompiler.dll
packages/Mono.Reflection.1.0.0.0/lib/Mono.Reflection.dll
packages/Mono.Reflection.1.0.0.0/Mono.Reflection.1.0.0.0.nupkg
packages/NUnit.3.2.0/CHANGES.txt
packages/NUnit.3.2.0/lib/dotnet/nunit.framework.dll
packages/NUnit.3.2.0/lib/dotnet/nunit.framework.xml
packages/NUnit.3.2.0/lib/net20/nunit.framework.dll
packages/NUnit.3.2.0/lib/net20/nunit.framework.xml
packages/NUnit.3.2.0/lib/net40/nunit.framework.dll
packages/NUnit.3.2.0/lib/net40/nunit.framework.xml
packages/NUnit.3.2.0/lib/net45/nunit.framework.dll
packages/NUnit.3.2.0/lib/net45/nunit.framework.xml
packages/NUnit.3.2.0/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.dll
packages/NUnit.3.2.0/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.xml
packages/NUnit.3.2.0/LICENSE.txt
packages/NUnit.3.2.0/NOTICES.txt
packages/NUnit.3.2.0/NUnit.3.2.0.nupkg
Utils/TextAnalyzer/bin/Debug/DelegateDecompiler.dll
Utils/TextAnalyzer/bin/Debug/Mono.Reflection.dll
Utils/TextAnalyzer/bin/Debug/Text.Analizer.dll
Utils/TextAnalyzer/bin/Debug/Text.Analizer.pdb
Utils/TextAnalyzer/bin/Debug/WebRock.Utils.dll
Utils/TextAnalyzer/bin/Debug/WebRock.Utils.pdb
Utils/TextAnalyzer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Utils/TextAnalyzer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Utils/TextAnalyzer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Utils/TextAnalyzer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Utils/TextAnalyzer/obj/Debug/Text.Analizer.csproj.FileListAbsolute.txt
Utils/TextAnalyzer/obj/Debug/Text.Analizer.csprojResolveAssemblyReference.cache
Utils/TextAnalyzer/obj/Debug/Text.Analizer.dll
Utils/TextAnalyzer/obj/Debug/Text.Analizer.pdb
Utils/TextAnalyzerTests/bin/Debug/DelegateDecompiler.dll
Utils/TextAnalyzerTests/bin/Debug/Mono.Reflection.dll
Utils/TextAnalyzerTests/bin/Debug/nunit.framework.dll
Utils/TextAnalyzerTests/bin/Debug/nunit.framework.xml
Utils/TextAnalyzerTests/bin/Debug/Text.Analizer.dll
Utils/TextAnalyzerTests/bin/Debug/Text.Analizer.pdb
Utils/TextAnalyzerTests/bin/Debug/Text.Analizer.UnitTests.dll
Utils/TextAnalyzerTests/bin/Debug/Text.Analizer.UnitTests.pdb
Utils/TextAnalyzerTests/bin/Debug/WebRock.Utils.dll
Utils/TextAnalyzerTests/bin/Debug/WebRock.Utils.pdb
Utils/TextAnalyzerTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Utils/TextAnalyzerTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Utils/TextAnalyzerTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Utils/TextAnalyzerTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Utils/TextAnalyzerTests/obj/Debug/Text.Analizer.UnitTests.csproj.FileListAbsolute.txt
Utils/TextAnalyzerTests/obj/Debug/Text.Analizer.UnitTests.csprojResolveAssemblyReference.cache
Utils/TextAnalyzerTests/obj/Debug/Text.Analizer.UnitTests.dll
Utils/TextAnalyzerTests/obj/Debug/Text.Analizer.UnitTests.pdb
Utils/WebRock.UnitTests/bin/Debug/DelegateDecompiler.dll
Utils/WebRock.UnitTests/bin/Debug/Mono.Reflection.dll
Utils/WebRock.UnitTests/bin/Debug/nunit.framework.dll
Utils/WebRock.UnitTests/bin/Debug/nunit.framework.xml
Utils/WebRock.UnitTests/bin/Debug/WebRock.UnitTests.dll
Utils/WebRock.UnitTests/bin/Debug/WebRock.UnitTests.pdb
Utils/WebRock.UnitTests/bin/Debug/WebRock.Utils.dll
Utils/WebRock.UnitTests/bin/Debug/WebRock.Utils.pdb
Utils/WebRock.UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Utils/WebRock.UnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Utils/WebRock.UnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Utils/WebRock.UnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Utils/WebRock.UnitTests/obj/Debug/WebRock.UnitTests.csproj.FileListAbsolute.txt
Utils/WebRock.UnitTests/obj/Debug/WebRock.UnitTests.csprojResolveAssemblyReference.cache
Utils/WebRock.UnitTests/obj/Debug/WebRock.UnitTests.dll
Utils/WebRock.UnitTests/obj/Debug/WebRock.UnitTests.pdb
Utils/WebRock.Utils/bin/Debug/DelegateDecompiler.dll
Utils/WebRock.Utils/bin/Debug/Mono.Reflection.dll
Utils/WebRock.Utils/bin/Debug/WebRock.Utils.dll
Utils/WebRock.Utils/bin/Debug/WebRock.Utils.pdb
Utils/WebRock.Utils/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Utils/WebRock.Utils/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Utils/WebRock.Utils/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Utils/WebRock.Utils/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Utils/WebRock.Utils/obj/Debug/WebRock.Utils.csproj.FileListAbsolute.txt
Utils/WebRock.Utils/obj/Debug/WebRock.Utils.csprojResolveAssemblyReference.cache
Utils/WebRock.Utils/obj/Debug/WebRock.Utils.dll
Utils/WebRock.Utils/obj/Debug/WebRock.Utils.pdb
FWD.BusinessObjects/bin/Debug/DelegateDecompiler.dll
FWD.BusinessObjects/bin/Debug/FWD.BusinessObjects.dll
FWD.BusinessObjects/bin/Debug/FWD.BusinessObjects.pdb
FWD.BusinessObjects/bin/Debug/Mono.Reflection.dll
FWD.BusinessObjects/bin/Debug/WebRock.Utils.dll
FWD.BusinessObjects/bin/Debug/WebRock.Utils.pdb
FWD.BusinessObjects/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FWD.BusinessObjects/obj/Debug/FWD.BusinessObjects.csproj.FileListAbsolute.txt
FWD.BusinessObjects/obj/Debug/FWD.BusinessObjects.csprojResolveAssemblyReference.cache
FWD.BusinessObjects/obj/Debug/FWD.BusinessObjects.dll
