<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- 
name = Имя, которое используется для ссылки на данный раздел в файле настройки.
type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
-->
		<section name="FeatureList" type="FWD.UI.Web.Models.Feature.FeatureListConfigHandler, FWD.UI.Web, Version=1.0.0.0, Culture=neutral" />
	</configSections>
	<FeatureList>
		<Features>
			<Feature Name="SwitchToXml" IsEnabled="false" />
			<Feature Name="Edit" IsEnabled="true" />
			<Feature Name="Add" IsEnabled="true" />
			<Feature Name="Remove" IsEnabled="true" />
			<Feature Name="SwitchAnotherView" IsEnabled="true" />
			<Feature Name="ShowListOfAtricles" IsEnabled="true" />
			<Feature Name="SwitchEmail" IsEnabled="true" />
			<Feature Name="Plan" IsEnabled="true" />
			<Feature Name="SaveToXml" IsEnabled="false" />
			<Feature Name="SaveToDb" IsEnabled="false" />
			<Feature Name="ShowComments" IsEnabled="true" />
			<Feature Name="Statistics" IsEnabled="true" />
			<Feature Name="Information" IsEnabled="true" />
			<Feature Name="Export" IsEnabled="true" />
			<Feature Name="Import" IsEnabled="true" />
			<Feature Name="Tranc" IsEnabled="true" />
			<Feature Name="GetAtricleById" IsEnabled="true" />
			<Feature Name="Search" IsEnabled="true" />
			<Feature Name="Reminder" IsEnabled="true" />
			<Feature Name="Tag" IsEnabled="true" />
		</Features>
	</FeatureList>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="path" value="d:\fwd_log\" />
		<add key="defaultToggler" value="db" />
		<add key="forcePath" value="true" />
		<add key="isLogOfReadAction" value="false" />
	</appSettings>
	<connectionStrings>
		<add connectionString="Server=(local);Database=Article;Integrated Security=True;MultipleActiveResultSets=True;" name="Article" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--<connectionStrings>
		<add connectionString="Data source = |DataDirectory|\Article.sdf" name="Article" providerName="System.Data.SqlServerCe.4.0" />
	</connectionStrings>-->
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<sessionState timeout="3000" mode="InProc"/>
		<httpRuntime maxRequestLength="400000000" targetFramework="4.5" executionTimeout="5400" enableVersionHeader="false" shutdownTimeout="5400"/>
		<authentication mode="Forms">
			<forms loginUrl="~/User/Login" timeout="2880" />
		</authentication>
		<!--<httpRuntime maxRequestLength="1048576" />-->
		<!--<httpRuntime maxRequestLength="51200" />-->
		<!--<customErrors mode="On" >
			<error statusCode="404" redirect="404.html" />
		</customErrors>-->
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4000000000" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="">
				<network host="localhost" />
				<specifiedPickupDirectory pickupDirectoryLocation="D:\examples\Examples\ForWebDevelopmentProject\ForWebDevelopmentProject\ForWebDevelopmentProject\StoredEmails" />
			</smtp>
		</mailSettings>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
