@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Страница не найдена</title>
	<link href="~/Content/Style/404.css" rel="stylesheet" />
</head>
<body>
	<div class="message_404">
		Увы, магическим образом страница не найдена (
	</div>
	<div class="text_404">
		404
	</div>
</body>
</html>
