
body, html, form {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 12px;
}

@font-face {
	font-family: "BeerRegular";
	src: url("../fonts/BeerRegular/BeerRegular.eot");
	src: url("../fonts/BeerRegular/BeerRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/BeerRegular/BeerRegular.woff") format("woff"), url("../fonts/BeerRegular/BeerRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.navigate_panel {
	width: 100%;
	height: 35px;
	border: 1px solid black;
	background-color: rgba(28, 19, 19, 0.8);
	position: absolute;
}

.tooltip {
	position: absolute;
	z-index: 100;
	padding: 10px 20px;
	border: 1px solid rgba(179, 201, 206, 0.03);
	border-radius: 4px;
	text-align: center;
	font: italic 14px/1.3 arial, sans-serif;
	color: #FFF;
	background: rgba(0, 0, 0, 0.57);
	box-shadow: 3px 3px 3px rgba(0,0,0,.3);
	font-weight: bold;
	text-shadow: 0px 0px 10px black;
}


.error_box, .info_box {
	position: absolute;
	left: 33%;
	height: 62px;
	border-radius: 0px 0px 10px 10px;
	background-color: white;
	overflow: hidden;
	word-wrap: break-word;
	font-weight: bold;
	font-size: 18px;
	width: 186px;
	text-overflow: ellipsis;
	padding-left: 18px;
	z-index: 9999;
	cursor: pointer;
	font-size: 12px;
}

/*.logo {
	//float: right; 
	//background-image: url(../../Content/Images/2.png);
	background-image: url(../../Content/Images/menu/Logo_200.png);
	width: 83px;
	height: 56px;
	//margin-right: 37px;
	margin-top: -10px;
	position: absolute;
	left: calc(100% - 100px);
	z-index: 1;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: -2px;
}

	.logo:hover {
		//background-image: url('../../Content/Images/2-1.png');
		background-image: url(../../Content/Images/menu/Logo_200_hover.png);
		cursor: pointer;
	}*/

.left_panel_searcher {
	width: 90px;
	height: 35px;
	background-color: rgba(105, 102, 102, 0.78);
	box-shadow: 1px 0 13px white;
}

.buttons_container {
	position: absolute;
	left: 84px;
	top: -1px;
	height: 100%;
	overflow: hidden;
	width: 100%;
	padding-left: 10px;
}

	.buttons_container > button {
		height: 22px;
		font-size: 18px;
		font-family: serif;
		width: 22px;
		background-size: contain;
	}

		.buttons_container > button:hover {
		}

.error_box {
	color: red;
	box-shadow: 0 0 20px red;
}

.info_box {
	color: green;
	box-shadow: 0 0 20px green;
}

.link_item:before {
	content: "Перейти на источник";
	color: white;
	font-size: 12px;
	font-family: "BeerRegular";
	/*font-weight: bold;*/
}

.link_item {
	background-color: rgb(68, 94, 116);
	border-radius: 10px;
	margin-bottom: 1px;
	padding-left: 9px;
	/* padding-top: 5px; */
	height: 14px;
	width: 112px;
	/* text-overflow: ellipsis; */
	overflow: hidden;
	word-wrap: break-word;
	white-space: nowrap;
	/* text-shadow: 0px 0px 10px white; */
}

	.link_item > span, .link_item > a {
		visibility: collapse;
	}


	.link_item:hover {
		box-shadow: 0px 0px 5px black,0px 0px 5px black,0px 0px 5px black;
		/*text-shadow: 0px 0px 10px white,0px 0px 10px white,0px 0px 10px white;*/
		cursor: pointer;
	}

.article_container > div > span {
	font-family: "BeerRegular";
}

button, .hide_window, .font_size_up, .font_size_down, .toggler_db, .toggler_xml {
	background-color: bisque;
	border-color: transparent;
	outline: transparent;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10px;
	font-weight: bold;
}

.hide_window {
	background-image: url('../Images/cancel.png');
	background-repeat: no-repeat;
	background-position: -1px -2px;
	width: 48px;
	height: 48px;
	background-color: transparent;
	margin-left: -55px;
	margin-top: -6px;
	position: absolute;
	border-radius: 48px;
	transition: all 1s ease;
}

button:active, .font_size_up:active, .font_size_down:active, .toggler_db:active, .toggler_xml:active {
	box-shadow: 0px 0px 10px black !important;
}

button {
	margin-bottom: 10px;
	background-color: rgb(68, 94, 116);
	height: 18px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	font-size: 12px;
}

.expand, .collaps, .font_size_up, .font_size_down {
	height: 30px;
	width: 30px;
	margin-bottom: 10px;
	background-image: url('../Images/preview4.jpg');
	background-repeat: no-repeat;
}

.expand, .collaps {
	margin-bottom: 0px !important;
	height: 19px !important;
	width: 19px !important;
}

.collaps {
	background-position: -485px -149px;
}

textarea, input, button {
	outline: none;
}

.error_element {
	box-shadow: 0 0 10px red !important;
	border: 3px solid red;
}

.expand {
	background-position: -521px -149px;
}

.font_size_up {
	background-position: -191px -214px;
	visibility: collapse;
}

.font_size_down {
	background-position: -227px -214px;
	visibility: collapse;
}

.font_size_indicator {
	font-weight: bold;
	margin-left: 20px;
	visibility: collapse;
}

.img_icon {
	width: 100px;
	height: 100px;
	margin-left: 10px;
	border-radius: 60px;
	transition: all 1s ease;
	opacity: 0.2;
}

	.img_icon:hover {
		cursor: pointer;
		box-shadow: 0 0 10px black;
		opacity: 1;
		border-radius: 10px;
	}

button:hover, .hide_window:hover, .font_size_up:hover, .font_size_down:hover, .toggler_db:hover, .toggler_xml:hover {
	box-shadow: 0px 0px 20px white;
}

button:disabled {
	box-shadow: none;
	transition: initial;
	opacity: 0.1;
}

	button:disabled:hover {
		opacity: 0.1;
	}

.image_container {
	position: absolute;
	width: 38%;
	height: 85%;
	left: 52%;
	top: 96px;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 10px;
	padding-top: 10px;
	display: none;
}

.common_comment_container {
	/*position: absolute;
	top: 0;
	left: 51%;
	max-height: 70%;
	width: 36%;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	margin-top: 10px;*/
	position: absolute;
	top: 0;
	left: 67%;
	max-height: 70%;
	width: 20%;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid black;
	box-shadow: 0px 0px 10px black;
	margin-top: 10px;
}

.comment_sender_container {
	/*padding-left: 10px;
	height: 100px;
	background-color: black;*/
	padding-left: 10px;
	height: 100px;
	background-color: black;
	display: flex;
}

.comment_message {
	/*border-radius: 10px;
	padding-left: 10px;
	height: 70px;
	margin-top: 10px;
	resize: none;*/
	border-radius: 10px;
	padding-left: 10px;
	height: 70px;
	margin-top: 10px;
	resize: none;
	width: 291px;
	flex-direction: column;
	flex: 1;
}

.comment_container {
}

.comment_row {
	height: 60px;
	margin-bottom: 1px;
	border-bottom: 1px solid;
	background-image: linear-gradient(to bottom, rgba(121, 110, 110, 0.77), black);
	color: white;
	padding-left: 10px;
	word-wrap: break-word;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 5px;
	padding-top: 2px;
}

	.comment_row:last-of-type {
		margin-bottom: 0px;
	}

	.comment_row > span > strong {
		color: yellow;
	}

	.comment_row > span {
		font-weight: bold;
	}

.left_panel_container {
	height: calc(100% - 50px);
	height: -webkit-calc(100% - 35px);
	height: -moz-calc(100% - 50px);
	height: -o-calc(100% - 50px);
	position: absolute;
	width: 90px;
	top: 36px;
}

.panel_container {
	height: calc(100% - 40px);
	overflow: auto;
	width: 100%;
	overflow-y: auto;
}

.left_panel {
	width: 90px;
	border: 1px solid black;
	background-color: rgba(105, 102, 102, 0.78);
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
}

.counter {
	color: white;
	background-color: red;
	border-radius: 10px;
	width: 20px;
	position: absolute;
	text-align: center;
	font-weight: bold;
	box-shadow: 0 0 10px black, 0 0 10px black;
	z-index: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.for_group_counter {
	background-color: rgba(236, 75, 75, 0.48);
}

.searcher {
	margin-left: 24px;
	margin-top: 8px;
	border-radius: 0px 10px 10px 0px;
	outline: none;
	height: 18px;
	background-color: black;
	border: 0px;
	padding-left: 5px;
	color: white;
	width: 56px;
}

.searcher_icon {
	background-image: url('../Images/preview4.jpg');
	background-repeat: no-repeat;
	background-position: -191px -214px;
	position: absolute;
}

.searcher-focused {
	background-color: white;
	color: black;
}

.main_content {
	margin-top: 36px;
	margin-left: 91px;
	padding: 10px 0px 0px 10px;
	width: 100%;
	background-color: rgb(211, 211, 205);
	height: 100%;
	position: absolute;
	overflow: auto;
	box-shadow: -10px 0px 20px black;
}

.common {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.left_panel-item {
	height: 25px;
	overflow: hidden;
	width: auto;
	/* margin-bottom: -3px; */
	white-space: nowrap;
	padding-left: 20px;
	word-wrap: break-word;
	text-shadow: 1px 1px 2px black;
	color: white;
	font-size: 10px;
	text-overflow: ellipsis;
	vertical-align: middle;
	line-height: 2em;
	padding-top: 10px;
}

.left_panel-item-group {
	overflow: hidden;
	width: auto;
	/* margin-bottom: 0px; */
	white-space: nowrap;
	word-wrap: break-word;
	text-shadow: 1px 1px 2px black;
	color: white;
	line-height: 2em;
	height: 20px;
	padding-left: 25px;
	font-size: 10px;
}

.searcher_mover {
	height: 100%;
	width: 10px;
	z-index: 1;
	left: 200px;
	/*box-shadow: 0px 0px 10px white;*/
	top: 0;
	/*position: absolute;*/
	float: right;
	height: 100%;
	width: 16px;
	z-index: 1;
}

	.searcher_mover:hover {
		cursor: col-resize;
	}

.for_group {
	line-height: 1em !important;
	height: 10px !important;
	padding-left: 33px;
	margin-left: -25px;
}

.span_icon_for_group_item {
	position: absolute;
	left: 1px;
	background-image: url('../Images/favicon.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	margin-left: 18px;
	margin-top: -2px;
	visibility: hidden;
	background-size: contain;
}

.left_panel-item-selection, .left_panel-item-group-selection {
	background-color: rgba(28, 19, 19, 0.8) !important;
}

.left_panel-item-icon {
	background-image: url('../Images/article-icon.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0px;
	background-size: contain;
}

.left_panel-item:hover, .left_panel-item-group:hover {
	background-color: rgba(28, 19, 19, 0.41);
	cursor: pointer;
}

.article_description {
	background-color: rgb(239, 225, 225);
	width: 100% !important;
	border-color: transparent;
	/*height: -webkit-calc(100%-160px);
	height: -moz-calc(100%-160px);
	height: -o-calc(100% - 160px);
	height: calc(100% - 160px);
	height: 80%;*/
	resize: none;
	border-radius: 10px 0px 0px 10px;
	box-shadow: -5px 0 10px black;
	font-family: sans-serif;
	color: black;
	overflow-x: auto;
	white-space: pre-line;
}

.article_in_load {
	background-color: rgba(192, 192, 169, 0.51);
}

.article_loader {
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.89);
	text-align: center;
	width: inherit;
	height: 100%;
	background-repeat: no-repeat;
	background-image: url('../Images/big-flower.gif');
	background-position: center;
	font-family: "BeerRegular";
	z-index: 3;
}

.article_container {
	height: 100%;
	position: absolute;
	width: calc(100% - 117px);
}

.image_splitter {
	height: calc(100% - 160px);
	height: -webkit-calc(100% - 160px);
	height: -moz-calc(100% - 160px);
	height: -o-calc(100% - 160px);
	width: 16px;
	position: absolute;
	top: 93px;
	left: 51%;
	cursor: col-resize;
	box-shadow: 0px 0px 10px black;
	border-radius: 10px;
	display: none;
}

	.image_splitter:hover {
		box-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
	}

.info_table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

	.info_table th {
		background-color: #fafafa;
		text-align: left;
		padding: 9px 15px 7px 15px;
		border-bottom: solid 1px #ccc;
		text-transform: uppercase;
		color: #9a9a9a;
	}

	.info_table td {
		padding: 9px 15px;
		/*white-space: nowrap;*/
		border-bottom: solid 1px #f2f2f2;
	}

	.info_table .entity_id_cell {
		width: 33px;
		padding-right: 0;
		line-height: 5px;
		color: #fff;
		background-color: #5a85bf;
		background-image: linear-gradient(to bottom, #507cb6, #6893cc);
		background-repeat: repeat-x;
		border-bottom: none;
		border-radius: 10px;
		font-weight: bold;
	}

	.info_table .entity_name_cell {
		padding-left: 5px;
		white-space: normal;
		text-decoration: none;
		color: #000;
		line-height: 16px;
		border-bottom: none;
	}

.pager_container {
	background-image: linear-gradient(to bottom, rgba(121, 110, 110, 0.77), black);
	border-radius: 10px;
	font-weight: bold;
	color: white;
	height: 40px;
}

#next_button, #prev_button, #first_page, #last_page {
	/*width: 70px;
	height: 21px;
	background-color: rgba(255, 255, 255, 0.68);
	border: none;
	padding: 0;*/
	margin-top: 10px;
}

#prev_button {
	margin-right: 10px;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

	input[type="checkbox"]:hover {
		cursor: pointer;
	}

.attention {
	box-shadow: 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white;
}

.delete_image {
	position: absolute;
	margin-left: 90px;
	background-image: url('../Images/menu/delete.png');
	background-repeat: no-repeat;
	background-position: -2px -1.99px;
	background-color: transparent;
	border-radius: 30px;
	z-index: 10;
	width: 30px;
	height: 30px;
	margin-top: -2px;
}

.white_lens {
	background-image: url('../Images/white_lens.png');
	background-repeat: no-repeat;
	background-color: black;
}

.lens {
	position: absolute;
	background-position: 3px 4px;
	width: 21px;
	height: 20px;
	left: 3px;
	top: 8px;
	border-radius: 10px 0px 0px 10px;
}

.black_lens {
	background-image: url('../Images/black_lens.png');
	background-repeat: no-repeat;
	background-color: white;
}

.user_info {
	position: absolute;
	left: calc(100% - 73px);
	top: 3px;
	width: 79px;
}

.user_avatar {
	float: right;
	border: 1px white ridge;
	border-radius: 10px;
	background-color: beige;
	margin-right: 10px;
	margin-top: -3px;
	width: 30px;
	height: 30px;
}

	.user_avatar > img {
		border-radius: 10px;
		margin-top: 3px;
		margin-left: 3px;
		cursor: pointer;
	}

.user_action {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
}

	.user_action > span {
		display: block;
		font-family: "BeerRegular";
		color: white;
		font-size: 12px;
	}

	.user_action > a {
		font-family: "BeerRegular";
		font-size: 12px;
		margin-top: -6px;
		display: block;
		color: rgba(255, 255, 255, 0.62);
		text-align: center;
	}

		.user_action > a:hover {
			cursor: pointer;
			text-shadow: 0px 0px 10px white, 0px 0px 10px white;
		}

#userEditor:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px white;
	margin-left: -43px;
	position: absolute;
}

.user_editor {
	display: flex;
	margin-left: 10px;
	box-shadow: 0px 0px 10px black;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.29);
}

.user_editor_user_data > div, .user_editor_credentials > div, .user_editor_avatar > div {
	margin-top: 10px;
	margin-left: 10px;
}

.field_name {
	font-size: 28px;
	font-family: "BeerRegular";
}

.user_editor_user_data, .user_editor_credentials, .user_editor_avatar {
	flex-direction: column;
	box-shadow: 0px 0px 10px black;
	margin-left: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	flex: 1;
	overflow: hidden;
}


.user_editor_input {
	width: 280px;
	height: 45px;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	font-size: 28px;
	font-family: "BeerRegular";
}

	.user_editor_input:last-of-type {
		margin-bottom: 10px;
	}

.user_editor_avatar_container > img {
	border-radius: 10px;
	box-shadow: 0px 0px 10px black,0px 0px 10px black;
}

.comment_user_avatar {
	border-radius: 50%;
	margin-right: 5px;
	border: 1px solid white;
}

.tag_row {
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 5px;
	box-shadow: 0px 2px 5px black;
	height: 40px;
	margin-left: 20px;
}

.tag_type {
	display: flex;
	flex: 1;
	flex-direction: row;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.tag_name {
	display: flex;
	flex-direction: row;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	flex: 1;
}

.tag_color {
	display: flex;
	flex-direction: row;
	border-right: 1px solid rgba(0, 0, 0, 0.21);
	flex: 1;
}

.tag_priority {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.tag_content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 70%;
	/* padding: 40px; */
	overflow: auto;
	/* padding-top: 0px; */
	margin-top: 2%;
}

.article_description_name {
	top: 10px;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 0px 2px white;
	width: 70%;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
